[submodule "users"]
	path = users
	url = git://github.com/CakeDC/users.git
[submodule "Cart"]
	path = Cart
	url = git://github.com/burzum/Cart.git
[submodule "search"]
	path = search
	url = git://github.com/cakedc/search.git
